{{ define "main" }}


<!-- ав тои и второй тайтл повторяющийся -->
<!-- <h1 class="title is-1">{{ .Site.Title }}</h1>         вот я его пределаю-->
<!-- <br>  вместо main margin top blabla css.. -->
<br>
<h1 class="title is-1">Доставка корейской еды</h1>

<!-- <ul id=menu>
<li><a href="#L384">Section 1</a>
<li><a href="#details">Section 2</a>
<li><a href="#FAQ">Section 3</a>
</ul> -->

<div class="products columns">
{{ range where $.Site.RegularPages "Section" "products" }}
<div class="product column is-one-third">
    {{ partial "list-product" . }}
</div>
{{ end }}


<script type="text/javascript">

  Snipcart.api.configure('show_continue_shopping', true);
  Snipcart.execute('config', 'show_continue_shopping', true);


  Snipcart.subscribe('page.changed', function (page) {
      console.log(page);
      var cart = Snipcart.api.cart.get();
      if (page == "billing-address")  // ВЫЗОВ ФУНКЦИИ ТОЛЬКО КОГДА billing adress  бля всего то== поставил
        {
          // var billname = cart.customFields[0].value;
          // console.log(billname);
          // set Snipcart.api.cart.phone.required = true   хз как это сделать....,
        // try set billing details here
         Snipcart.api.cart.billingAddress({
                    // "name": "Имя гурмана!!!",
                        "email": "YOUR@MAIL.not.required",
                        // "address1": "",
                        "address2": "--------------------",
                        "city": "Волжский",
                        "province": "Волгоградская область",
                        "country": "Россия",
                        "company": "---------------------",
                        "postalCode": "-------------------",
                        "phone" : "Укажите Обзательно!"
      }).then (function (cart)
           {
             console.log (cart); // It will contain the cart details with updated values.
           });

        }
  });


</script>


</div>
{{ end }}
